{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    
<div class="flex-container">
    <!-- Today's Budget -->
    <div>
        {% set budget = daily_budget if daily_budget != 0 else 0 %}
        {% set ns = namespace(total_amount=0) %}  <!-- 使用 namespace 来声明 total_amount -->
        {% for record in today_records %}
            {% if record.category not in ["allowance", "income", "living_expenses"] %}  
                {% set ns.total_amount = (ns.total_amount + record.amount)|round(2) %}        
            {% endif %}
        {% endfor %}

        <h2 style="color: #333;">Daily Budget</h2>

        <h2 class="buget-text">
            <span id="spent" style="color: #58A778;">{{ ns.total_amount }}</span> 
            / 
            <span id="total" style="color: black;">{{ budget }}</span>
        </h2>
        <button class="btn-add-record add-new-records" onclick="window.location.href='/newRecords'">Add New Records</button>
    </div>

    <!-- Detial Records -->
    <div class="detail-records">
        <h2>Detail Records</h2>
        <table class="records-table">
            <tbody>
                {%for record in spending%}
                    <tr>
                        <td>{{record.date.strftime('%m-%d')}}</td>
                        <td>{{record.category.split(':')[1]}}</td>
                        <td>{{record.amount}}</td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <p class="more-link"><a href="/details_and_charts">More...</a></p>
    </div>

    <!-- Achieved GOALS-->
    <div class="achieved-goals">
        <h3>Achieved GOALs</h3>
        {%for goal in achievedGoals%}
            <div class="goal-item">
                <span class="goal-name">{{goal.name}}</span>
                <span class="goal-date">{{goal.end_date.strftime('%Y-%m-%d')}}</span>
                <span class="goal-amount">{{goal.amount}}</span>
            </div>
        {%endfor%}
    </div>

    <div class="spending">
        <!-- Today Spending -->
        <svg viewBox="0 0 100 100" class="circular-chart">
            <circle class="circle-bg-spending" cx="50" cy="50" r="29" />
            <circle class="circle-center-spending" cx="50" cy="50" r="19.6" />
            {% if today_records is not none %}
                {% set circumference = 2 * 3.14159 * 29 %}
                {% set ns = namespace(prev_filled_length=0) %}

                {% for record in today_records %}
                    {% if record.category not in ["allowance", "income", "living_expenses"] %}
                        {% set percentage = 0 if budget == 0 else (((record.amount / budget) * 100) | round) %}
                        {% set filled_length = (percentage / 100) * circumference %}
                        {% set stroke_dasharray = "{} {}".format(filled_length, circumference) %}
                        {% if  ns.prev_filled_length == 0 %}
                            {% set stroke_dashoffset =  ns.prev_filled_length %}
                        {%else%}
                            {%set stroke_dashoffset =  filled_length + ns.prev_filled_length%}
                        {%endif%}
                        <circle class="circle spending-progress spending-{{ loop.index }}" 
                                cx="50" cy="50" r="29" 
                                stroke-dasharray="{{ stroke_dasharray }}" 
                                stroke-dashoffset="{{ stroke_dashoffset }}">
                                <title>{{record.category}}  {{record.amount}}</title>   
                        </circle>
                        {% set ns.prev_filled_length = ns.prev_filled_length + filled_length %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </svg>
   


        <!-- Saving Goals -->
        {% if savingGoals is not none %}
        <div class="saving-goals">
            <svg viewBox="0 0 36 36" class="circular-chart">
                    {% set ns = namespace(radius = 5.3) %}
                    <circle class="circle-bg" cx="18" cy="18" r="{{ns.radius * (savingGoals|length)}}" />
                {% for goal in savingGoals %}
                {% set progress_amount = goal.progress_amount if goal.progress_amount is not none else 0.0 %}
                {% set total_amount = goal.amount if goal.amount is not none else 0.0 %}
                {% set percentage = (progress_amount / total_amount * 100) if total_amount != 0 else 0 %}
                {% set percentage = percentage | round %}
                {% set circumference = 2 * 3.14159 * ns.radius %}
                {% set filled_length = (percentage / 100) * circumference %}
                {% set stroke_dasharray = "{} {}".format(filled_length, circumference) %}
                    <circle class="circle goal-{{loop.index}}" 
                        cx="18" cy="18" r="{{ ns.radius }}" 
                        stroke-dasharray="{{ stroke_dasharray }}">
    <title>{{ progress_amount }}/{{ total_amount }}  {{ percentage | round }}%</title>
                    </circle>
                    {% set ns.radius = ns.radius + 5 %}
                {% endfor %}

                <!-- 中间的圆 -->
                <circle class="circle-center" cx="18" cy="18" r="3"/>
            </svg>
        </div>
        {% endif %}
    </div>

    
</div>
    <script>
        function updateBudgetColor() {
            // 获取花费金额的元素
            const spentElement = document.getElementById("spent");
            
            // 获取花费和预算数值
            const spentText = spentElement.textContent.replace(',', '.');
            const totalText = document.getElementById("total").textContent.replace(',', '.');
            const spent = parseFloat(spentText);
            const total = parseFloat(totalText);
            
            // 计算花费占预算的比例
            const percentage = spent / total;

            // 根据比例更新花费部分的颜色
            if (percentage > 1) {
                spentElement.style.color = "#B95756";
            } else if (percentage > 0.85) {
                spentElement.style.color = "#FD9270";
            } else {
                spentElement.style.color = "#58A778"; // 绿色
            }
        }
        // 初始化颜色更新
        updateBudgetColor();

        document.addEventListener('DOMContentLoaded', function() {
            updateBudgetColor();
        });

    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}